<!DOCTYPE html>
<html lang="ja">
  <head>
    <link href="/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <script src="/lib/jquery/jquery.js"></script>

    <link href="/lib/pnotify/pnotify.core.css" rel="stylesheet" />
    <link href="/lib/pnotify/pnotify.buttons.css" rel="stylesheet" />
    <link href="/lib/pnotify/pnotify.history.css" rel="stylesheet" />
    <link href="/lib/pnotify/pnotify.picon.css" rel="stylesheet" />
    <script src="/lib/pnotify/pnotify.core.js"></script>
    <script src="/lib/pnotify/pnotify.buttons.js"></script>
    <script src="/lib/pnotify/pnotify.desktop.js"></script>
    <script src="/lib/pnotify/pnotify.callbacks.js"></script>
    <script src="/lib/pnotify/pnotify.history.js"></script>
    <script src="/lib/pnotify/pnotify.confirm.js"></script>
    <script src="/lib/pnotify/pnotify.nonblock.js"></script>
    <script src="/lib/pnotify/pnotify.reference.js"></script>

    <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="/lib/bootstrap/js/bootstrap.js"></script>
    <script src="/lib/vue/dist/vue.js"></script>
    <script src="/lib/director/build/director.js"></script>
    <script src="/admin/users/users.js"></script>
  </head>

  <body>
    <section>
      <header>
        <h1>Baast 管理画面</h1>
      </header>
      <div>
        <a href="#" class="btn btn-primary">一覧</a>
        <a href="#new" class="btn btn-primary">作成</a>
      </div>

      <div id="baast-user-manager">
        <template v-if="mode==''">
          <section>
            <h2>ユーザ一覧</h2>
            <div class="container-fluid">
              <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-condensed">
                  <thead>
                    <tr>
                      <th><input type="checkbox" name="" value=""/></th>
                      <th>id</th>
                      <th>name</th>
                      <th>email</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-repeat="users">
                      <td><input type="checkbox" name="" value="{{id}}"/></td>
                      <td>{{id}}</td>
                      <td><a href="#show/{{id}}">{{name}}</a></td>
                      <td><a href="#">{{email}}</a></td>
                    </tr>
                  </tbody>
                </table>
                <span v-text="users.length"></span> users</span>
              </div>
            </div>
          </section>
        </template>

        <template v-if="mode=='new'">
          <section style="margin: 1em;">
            <h2>ユーザ一作成</h2>
            <form>
              <div class="form-group">
                <label class="control-label">名前:</label>
                <input class="form-control" type="text" v-model="new_user.name"/>
              </div>
              <div class="form-group">
                <label class="control-label">Email:</label>
                <input class="form-control" type="text" v-model="new_user.email"/>
              </div>
              <div class="form-group">
                <label class="control-label">パスワード:</label>
                <input class="form-control" type="password" v-model="new_user.password"/>
              </div>
              <div class="form-group">
                <label class="control-label">パスワード (確認用):</label>
                <input class="form-control" type="password" v-model="new_user.password_confirm"/>
                <template v-if="new_user.password != new_user.password_confirm">
                  パスワードが一致しません
                </template>
              </div>
            </form>
            <a v-on="click: register_user" class="btn btn-primary">登録</a>
          </section>
        </template>

        <template v-if="mode=='show'">
          <section>
            <h2>ユーザ一詳細</h2>
            <form>
              <div class="form-group">
                <label class="control-label">ID:</label>
                <input class="form-control" type="text" v-model="current_user.id" disabled/>
              </div>
              <div class="form-group">
                <label class="control-label">名前:</label>
                <input class="form-control" type="text" v-model="current_user.name"/>
              </div>
              <div class="form-group">
                <label class="control-label">Email:</label>
                <input class="form-control" type="text" v-model="current_user.email"/>
              </div>
            </form>
            <a v-on="click: update_user" class="btn btn-primary">更新</a>
            <a v-on="click: delete_user" class="btn btn-primary">削除</a>
          </section>
        </template>
      </div>
    </section>

    <script>
      (function (){
          var app = baast.users.UserManager("#baast-user-manager");
          var router = new Router({
              "": app.view_default,
              "new": app.view_new,
              "show/:userId": app.view_show,
              "delete": app.view_delete
          }).init();
      })();
    </script>
  </body>
</html>
